body {
  background: url(https://images.unsplash.com/photo-1606858621606-921c3792ca1d?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max) rgba(4, 4, 49, 0.63) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-blend-mode: multiply;
  backdrop-filter: blur(1px);
}

.App-header {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.App-header p {
  margin: 15px 0 15px 0;
  padding: 0;
  font-size: 18px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.App-header button {
  border: none;
  padding: 6px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: gray;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
}

.App-header input {
  width: 400px;
  border: none;
  border-radius: 5px;
  padding: 6px;
  outline: none;
  margin-bottom: 10px;
  color: gray;
  font-family: 'Be Vietnam Pro', sans-serif;

}

.App-header label small {
  font-size: 13px;
  color: black;
}

.loadin {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid gray;
  border-bottom: 3px solid rgba(0, 0, 0, 0.226);
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.App-header input:focus {
  box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 51%);
}

.App-header button:hover {
  box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 51%);
}

.App-header .weatherTable {
  border: 4px solid #608094;
  background: #080f366b;
  background-size: cover;
  border-radius: 10px;
  padding: 20px 15px;
  width: 600px;
  margin-top: 30px;
  animation: fadeup 0.30s ease-in;
}


@keyframes fadeup {
  0% {
    transform: translateY(100px) scale(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.time p {

  font-size: 15px;
  font-weight: 200;
}

.time {
  text-align: center;
}

/* =======================iconselsi ============================ */

.App-header .weatherTable .selsi h2 {
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
}

.App-header .weatherTable .selsi .far {
  font-size: 5px;
  color: #fff;
  transform: translateY(-19px);
}

.App-header .weatherTable .iconSelsi {
  display: flex;
  flex-direction: column;
}

.App-header .weatherTable .iconSelsi span {
  font-size: 15px;
  font-weight: 400;
}


/* =======================iconselsi ============================ */

.App-header .weatherTable .selsy {
  text-align: center;
  margin-top: 20px;
}

.App-header .weatherTable .selsy img {
  width: 100px;
}

.App-header .weatherTable .selsy p {
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.App-header .weatherTable .selsy h2 {
  font-size: 36px;

}


/* ============================responsive=============================== */

@media only screen and (max-width:756px) {
  .App-header .weatherTable {
    border: 4px solid #608094;
    background: #080f366b;
    background-size: cover;
    border-radius: 10px;
    padding: 20px 15px;
    max-width: 400px;
    margin-top: 30px;
    animation: fadeup 0.30s ease-in;
  }

  .App-header input {
    width: 350px;
    border: none;
    border-radius: 5px;
    padding: 6px;
    outline: none;
    margin-bottom: 10px;
    color: gray;
    font-family: 'Be Vietnam Pro', sans-serif;

  }

  .App-header h1 {
    font-size: 28px;
    padding: 0;
    margin: 0;
  }

  .App-header p {
    margin: 15px 0 15px 0;
    padding: 0;
    font-size: 18px;
  }
}

@media only screen and (max-width:576px) {
  .App-header .weatherTable {
    padding: 20px 10px;
    max-width: 390px !important;
  }
.App-header{
  padding-top:100px ;
}
  .App-header input {
    width: 350px;
  }

  .App-header h1 {
    text-align: center;
    font-size: 18px;
    margin: 0;
  }

  .App-header p {
    margin: 15px 0 15px 0;
    padding: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width:430px) {
  .App-header .weatherTable {
    padding: 20px 10px;
    width: 350px !important;
    flex-wrap: wrap;
  }

  .App-header input {
    width: 350px;
  }
}