footer{
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.315);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
footer div span{
    font-size: 14px;
    color: gray;
   
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
}
footer div a .fab{
   font-size: 25px;
    color: gray;
    margin:0 15px;
}